<template lang="pug">
  q-layout(view="lHh Lpr lFf")
    q-layout-header
      q-toolbar(
        color="primary"
        :glossy="$q.theme === 'mat'"
        :inverted="$q.theme === 'ios'"
      )
        q-btn(
          flat
          dense
          round
          @click="leftDrawerOpen = !leftDrawerOpen"
          aria-label="Menu"
        )
          q-icon(name="menu")

        q-toolbar-title
          Quasar App
          div(slot="subtitle") Running on Quasar v{{ $q.version }}

    q-layout-drawer(
      v-model="leftDrawerOpen"
      :content-class="$q.theme === 'mat' ? 'bg-grey-2' : null"
    )
      q-list(
        no-border
        link
        inset-delimiter
      )
        q-list-header Essential Links
        q-item(@click.native="openURL('http://quasar-framework.org')")
          q-item-side(icon="school")
          q-item-main(label="Docs" sublabel="quasar-framework.org")
        q-item(@click.native="openURL('https://github.com/quasarframework/')")
          q-item-side(icon="code")
          q-item-main(label="GitHub" sublabel="github.com/quasarframework")
        q-item(@click.native="openURL('https://discord.gg/5TDhbDg')")
          q-item-side(icon="chat")
          q-item-main(label="Discord Chat Channel" sublabel="https://discord.gg/5TDhbDg")
        q-item(@click.native="openURL('http://forum.quasar-framework.org')")
          q-item-side(icon="record_voice_over")
          q-item-main(label="Forum" sublabel="forum.quasar-framework.org")
        q-item(@click.native="openURL('https://twitter.com/quasarframework')")
          q-item-side(icon="rss feed")
          q-item-main(label="Twitter" sublabel="@quasarframework")

    q-page-container
      router-view
</template>

<script>
import { openURL } from 'quasar'

export default {
  name: 'LayoutDefault',
  data () {
    return {
      leftDrawerOpen: this.$q.platform.is.desktop
    }
  },
  methods: {
    openURL
  }
}
</script>

<style>
</style>
